<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Uzytkownikow</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <div th:if="not ${allUsers.isEmpty()}">
        <h1>Uzytkownicy :</h1>
        <table border="1">
            <tr>
                <th>Nazwa</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
            </tr>
            <tr th:each="singleTime: ${allUsers}" th:object="${singleTime}">
                <td th:text="*{nick}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{date}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${allUsers.isEmpty()}">
        <h1>Nie ma uzytkownikow</h1>
    </div>

</body>
</html>